<div class="nav-search">
	<div class="nav-wrap">
		<div class="inline-block">
			<div class="nav-logo" style="height:111px ;width: 40%; position: relative;">
				<a href="/"><img src="/images/logo.png" style="width: 70%;height:100px; position: absolute;"></a>
			</div>
			<div class="search-wrap" >
			   <!-- <div style="color:rgb(47, 123, 213);font-family:微软雅黑;font-size:17px; margin-bottom:7px;" >一种基于区块链的教学资源平台</div>-->
				<form action="/search" method="GET">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="输入关键字后搜索..." name="search_text">
					<span class="input-group-btn">
				    	<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
				    </span>
				</div>
				</form>
				<ul class="more" style="color: #fff;">
					<li style="text-align: left;padding-left: -100px;margin-top: 5px;float: left;color: #fff;">
						你可能还想搜：</li>
					<li style="float:left ;margin-top: 5px;margin-left: 5px;"><a class="sea" href="/qianDuan" target="_blank" >前端技术</a></li>
					<li style="float:left ;margin-top: 5px;margin-left: 5px;"><a href="/houDuan" target="_blank">后端技术</a></li>
					<li style="float:left ;margin-top: 5px;margin-left: 5px;"><a href="/quKuai" target="_blank">区块链</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div style="margin-top: 20px;margin-bottom: 20px;text-align: center;width: 100%;padding-bottom: 5px;">
		<a href="/"><img src="/images/up_nav_picture.png" style="height:25%;width: 25%;"></a>
	</div>
</div>