<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="css/foucsbox.css" rel="stylesheet" type="text/css" />
    <script src="js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="js/foucsbox.js" type="text/javascript"></script>
</head>
<body>
    <div id="foucsBox">
        <ul class="imgCon">
            <li>
                <a href="" target="_blank">
                    <img width="680" height="380" src="images/tupian.png" />
                </a>
                <div class="imgTitle"><a href="" target="_blank">为初学者准备的HTML速成</a></div>
                <div class="showPage"></div>
            </li>
            <li>
                <a href="" target="_blank">
                    <img width="680" height="380" src="images/tupian.png" />
                </a>
                <div class="imgTitle"><a href="" target="_blank">带你学C带你飞</a></div>
                <div class="showPage"></div>
            </li>
            <li>
                <a href="" target="_blank">
                    <img width="680" height="380" src="images/tupian.png" />
                </a>
                <div class="imgTitle"><a href="" target="_blank">区块链技术与应用</a></div>
                <div class="showPage"></div>
            </li>
            <li>
                <a href="" target="_blank">
                    <img width="680" height="380" src="images/tupian.png" />
                </a>
                <div class="imgTitle"><a href="" target="_blank">Pandas数据分析从入门到实战</a></div>
                <div class="showPage"></div>
            </li>
        </ul>
        <div class="foucs"></div>
        <div class="rBtn foucsButton">
            <span></span>
            <img />
        </div>
        <div class="lBtn foucsButton">
            <span></span>
            <img />
        </div>
    </div>
    <div style="text-align: center">
    </div>
</body>
</html>

